.icon-picker
  display: flex
  flex-direction: column
  padding: 5px
  border-radius: 10px
  width: 250px
  gap: 10px
  position: absolute
  top: 30px
  left: 350px
  background: var(--background)
  color: var(--on-background)
  box-shadow: 0 0 5px rgb(0 0 0 / 25%)

  &.dark
    box-shadow: 0 0 10px rgb(0 0 0 / 50%)

  input
    background: var(--surface)
    color: var(--on-surface)
    outline: none
    border: none
    text-align: center
    padding: 5px
    font-size: 1.2rem
    border-radius: 10px

  .icons
    display: flex
    flex-flow: row wrap
    gap: 10px
    margin-bottom: 10px
    justify-content: center

    svg
      cursor: pointer
      height: 24px
      width: 24px
