body
  margin: 0
  font-family: "Segoe UI"
  --brand: #6FEA65
  --dark-gray: #0a0a0a

.theme-dark
  --bg-color: black
  --color: white

.theme-light
  --bg-color: white
  --color: black

.fullpage
  background-color: var(--bg-color)
  color: var(--color)
  height: 100vh
  width: 100vw