:root
  --transparent: rgb(0 0 0 / 0%)
  --brand: rgb(111 234 101)
  --on-brand: black
  --dark-gray: rgb(21 21 21)
  --light-gray: rgb(243 243 243)
  --topbar-height: 40px

body
  margin: 0
  font-family: "Segoe UI", sans-serif

.theme-dark
  --background: black
  --color: white
  --surface: var(--dark-gray)
  --on-surface: white
  --widget-background: var(--dark-gray)

.theme-light
  --background: white
  --color: black
  --surface: var(--light-gray)
  --on-surface: black
  --widget-background: white
