@import 'colors.sass'
  
.login-methods
  background: $background-secondary
  width: 40%
  max-width: 500px
  margin: 80px auto
  padding: 25px
  border-radius: 55px

  .login-method
    color: $text-secondary
    cursor: pointer
    height: 50px

    a
      display: inline-block
      color: $text-secondary
      text-decoration: none
      font-size: 28px
      font-weight: bold
      line-height: 50px
      vertical-align: middle

    .logo
      display: inline-block
      height: 40px
      width: 40px
      margin: 0 25px
      float: left
      clear: fix

