@import 'colors.sass'

#profile-info
  display: block
  margin: 40px auto
  width: 80%
  min-width: 500px

  div.row
    margin: 40px 0
    font-size: 22px
    font-weight: bold

    .property
      display: inline-block
      color: $text-secondary
      width: 45%
      text-align: right
      margin-right: 40px

    .value
      display: inline-block
      color: $text-primary
      width: 45%

    img.profile-picture
      display: inline-block
      width: 120px
      height: auto
      border-radius: 50%