.home-layout
  display: flex
  flex-direction: row
  height: 100vh
  
.login-side-panel
  background: var(--surface)
  color: var(--color)
  padding: 40px
  width: 400px
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  text-align: center
  box-sizing: border-box
  gap: 20px

.content
  margin-top: var(--topbar-height)
  display: flex
  flex: 1
  padding: 10px
  background: var(--background)
  color: var(--color)
