.lists-layout
  display: flex
  flex-direction: row
  height: calc(100vh - var(--topbar-height))

  .list-panel
    display: flex
    gap: 10px
    flex-direction: column
    background: var(--surface)
    padding: 20px

  .new-list
    display: flex
    justify-content: center
    align-items: center
    background: var(--background)
    width: 320px
    padding: 15px 0
    border-radius: 5px
    cursor: pointer
