#not-found-page
  display: flex
  flex-direction: column
  height: 100vh
  justify-content: center
  align-items: center
  font-family: "Secular One", sans-serif
  background: var(--background)
  color: var(--on-background)

  button
    margin-top: 20px

  #not-found-illustration
    height: 40vh
    min-height: 200px
    max-height: 300px

  .horizontal-stack
    display: flex
