@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Poetsen+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Sora', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* global scrollbars */
*::-webkit-scrollbar{
  height: 10px;
  width: 10px;
}

html *:hover::-webkit-scrollbar-thumb {
  background: theme("colors.gray.400");
  border-radius: 10px;
}

html.dark *:hover::-webkit-scrollbar-thumb {
  background: theme("colors.gray.600");
}

*::-webkit-scrollbar-thumb {
  background: transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer base {
  body {
    @apply text-slate-800 bg-background-light dark:text-slate-200 dark:bg-background-dark;
  }
}